<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/childregister">Child Register</a></li>
                        <li><a class="dropdown-item" routerLink="/appointment">Appointment</a></li>
                        <li><a class="dropdown-item" routerLink="/deletepost">DeletePost</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>